@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap&subset=cyrillic');
@import "normalize";

// --- variables --- //
$site-width: 1200px;
$padding-site: 80px;

$test-box-width: ($site-width - ($padding-site * 2)) * 0.425;

// --- color -- //
$logo-base-color: #262262;
$logo-second-color: #fbb040;

$bg-base-color: #ffffff;
$text-base-color: #000000;

$menu-color: $logo-base-color;
$menu-hover-color: lighten($menu-color, 40);
$menu-active-color: darken($menu-color, 40);

$price-hover-color: lighten($logo-second-color, 30);
$shadow-color: $logo-base-color;

$footer-bg-color: $logo-base-color;
$footer-text-color: #ffffff;

$button-shadow-color: #607D8B;

$outline-test-color: red;
// --- / color -- //
// --- / variables --- //

// --- animations --- //
@keyframes crawl-from-left {
  from {
    width: 0;
    background-color: $logo-base-color;
  }
  to {
    width: 100%;
    background-color: $logo-second-color;
  }
}

// --- / animations --- //

// --- global styles --- //

* {
  font-family: 'Comfortaa', Arial, cursive;
}

html, body {
  height: 100%;
}

.padding-site {
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.page-title {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
}

.main {
  max-width: $site-width;
  margin: 0 auto;
  box-sizing: border-box;
  &--feedback-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: $logo-second-color;
  background-color: $logo-base-color;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  padding: 10px 25px;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px $button-shadow-color;
  transition: 0.7s;
  &:hover,
  &:focus {
    background-color: $logo-second-color;
    color: $logo-base-color;
    box-shadow: 0 2px 5px $button-shadow-color;
  }
  &:active {
    background-color: #ffffff;
    transform: translateY(2px);
    box-shadow: none;
    outline: 1px solid $logo-second-color;

  }
  &--feedback {
    border: none;
    margin-right: 20px;
  }
  &--map {
    border: none;
  }
}

.crawl-from-left::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 5px;
  display: block;
  background-color: $logo-second-color;
  animation: crawl-from-left linear 1.2s;
}

// --- / global styles --- //

.header {
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  //outline: 1px solid $outline-test-color;
  &__wrapper {
    max-width: $site-width;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: 100px;
  }
}

.logo {
  &__img {
    width: 150px;
    height: auto;
  }
}

.site-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-right: 20px;
  }
  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $menu-color;
    &:hover:not(&--active) {
      color: $menu-hover-color;
      transition: 0.7s;
    }
    &:active:not(&--active) {
      color: $menu-active-color;
    }
    &:hover:not(&--active)::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      display: block;
      background-color: $logo-second-color;
      animation: crawl-from-left 1s;
    }
    &--active::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      display: block;
      background-color: $logo-second-color;
    }
  }
}

.index {
  &__headline {
    font-size: 40px;
    color: $logo-base-color;
    text-align: center;
  }
  &__img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}

.test {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__box {
    background-color: $logo-base-color;
    width: $test-box-width;
    height: $test-box-width;
    margin-bottom: 20px;
    margin-right: 20px;
    &--center {
      box-sizing: border-box;
      position: absolute;
      top: $test-box-width / 2 + 10px;
      left: $test-box-width * 2 / 3 - 5px;
      background-color: $logo-second-color;
      transform: rotate(45deg);
      overflow: hidden;
    }
    &:not(&--center):hover {
      background-color: #837ed2;
    }
  }
}

.footer {
  color: $footer-text-color;
  background-color: $footer-bg-color;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  &__wrapper {
    max-width: $site-width;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slogan {

  }
  &__slogan-logo {
    width: 500px;
    height: auto;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  &__club-name {
    font-weight: 700;
  }
  &__phone {
    color: $footer-text-color;
    text-decoration: none;
  }
  &__sponsor-logo {
    width: 250px;
    height: auto;
  }
}

// --- trainer page --- //
.trainer {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  &__photo {
    max-width: 100%;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
    transition: 1.5s;
    &:hover {
      box-shadow: 0 10px 25px $shadow-color;
      transform: scale(1.2);
    }
  }
  &__info {
    max-width: 650px;
  }
  &__name {
    position: relative;
    display: inline-block;
    margin-top: 0;

  }
  &__rank {
    display: block;
    margin-bottom: 40px;
  }
  &__text {
    line-height: 26px;
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    width: 200px;
  }
}

// --- / trainer page --- //

// --- services page --- //
.services {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 20px 0;
    list-style: none;
  }
  &__service-card {

  }
}

.service-card {

  //temp
  position: relative;
  margin-bottom: 40px;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: box-shadow 0.5s;
  overflow: hidden;
  &--action {
    &::after {
      color: #FFFFFF;
      content: "Акция";
      letter-spacing: 2px;
      width: 130px;
      height: 30px;
      display: flex;
      position: absolute;
      top: 20px;
      right: -30px;
      background-color: #ee3643;
      transform: rotate(45deg);
      justify-content: center;
      align-items: center;
    }
  }
  &:hover {
    box-shadow: 0 10px 25px $shadow-color;
  }

  &__image {

  }
  &__hover {
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: $logo-second-color;
    opacity: 0;
    width: 440px;
    height: 320px;
    transition: opacity 1.5s;
    &-title {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
    &-list {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    &-comment {
      text-align: center;
    }
  }
  &:hover .service-card__hover {
    opacity: 0.9;
  }

  &__title {
    color: $logo-base-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  &__comment {
    margin-bottom: 20px;
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
  }
  &__button {
    &--booking {
      margin-bottom: 20px;
    }
  }

}

// --- / services page --- //

// --- price page --- //
.price {
  &__wrapper-outside {
    border-top: 20px solid $logo-second-color;
    margin-bottom: 20px;
  }
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  &__row {
    border-bottom: 1px solid $logo-base-color;
    &--table-title {

    }
    &:not(&--table-title):hover {
      background-color: $price-hover-color;
    }
  }
  &__cell {
    padding: 10px 20px;
    &--table-header {
      text-align: left;
    }
  }
  &__days {
    display: block;
    margin-bottom: 5px;
  }
  &__time {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
  }

}

.price-sale {
  border-top: 20px solid $logo-second-color;
  margin-bottom: 20px;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  &__title {
    color: red;
  }
}

// --- / price page --- //

// --- feedback page --- //
.feedback {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  box-sizing: border-box;
  //height: 500px;
  display: flex;
  justify-content: space-between;
  transition: 1.5s;
  &:hover {
    box-shadow: 0 10px 25px $shadow-color;
    //outline: 1px solid #eaeaea;
  }
  &__contacts {
    position: relative;
    //left: -100px;
    width: 45%;
    //height: 90%;
    outline: 1px solid #837ed2;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: $logo-base-color;
    color: $logo-second-color;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__write-us {
    width: 50%;
    height: 90%;
    padding: 20px 40px 0 40px;
    box-sizing: border-box;
    border: none;
  }
  &__input {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    &--client-message {
      height: 100px;
      resize: none;
    }
  }
}


// --- / feedback page --- //
