@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/comfortaa-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/comfortaa-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/comfortaa-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/comfortaa-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/comfortaa-semibold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'comfortaa';
  src: url('../fonts/comfortaa-variablefont_wght-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@import "normalize";

// --- variables --- //
// --- size --- //
$site-width: 1200px;
$padding-site: 80px;
$padding-difference: 60px;

$screen-sm: 576px;
//$screen-sm-max: 767px;
$screen-md: 768px;
//$screen-md-max: 991px;
$screen-lg: 992px;
//$screen-lg-max: 1199px;
$screen-xl: 1200px;

//$test-box-width: ($site-width - ($padding-site * 2)) * 0.425;

// --- / size --- //
// --- color -- //
$logo-base-color: #262262;
$logo-second-color: #fbb040;

$bg-base-color: #ffffff;
$text-base-color: #000000;

$menu-color: $logo-base-color;
$menu-hover-color: lighten($menu-color, 40);
$menu-active-color: darken($menu-color, 40);

$price-hover-color: lighten($logo-second-color, 30);
$shadow-color: $logo-base-color;

$footer-bg-color: $logo-base-color;
$footer-text-color: #ffffff;

$button-shadow-color: #607D8B;

$outline-test-color: red;
// --- / color -- //
// --- / variables --- //

// --- animations --- //
@keyframes crawl-from-left {
  from {
    width: 0;
    background-color: $logo-base-color;
  }
  to {
    width: 100%;
    background-color: $logo-second-color;
  }
}

// --- / animations --- //

// --- global styles --- //

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-family: 'Comfortaa', Arial, cursive;
}

html, body {
  height: 100%;
}

.padding-site {
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.page-title {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  display: inline-block;
}

.main {
  max-width: $site-width;
  margin: 0 auto;
  box-sizing: border-box;
  &--feedback-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: $logo-second-color;
  background-color: $logo-base-color;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  padding: 10px 25px;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px $button-shadow-color;
  &:hover,
  &:focus {
    background-color: $logo-second-color;
    color: $logo-base-color;
    box-shadow: 0 2px 5px $button-shadow-color;
    transition: 0.7s;
    cursor: pointer;
  }
  &:active {
    background-color: #ffffff;
    transform: translateY(2px);
    box-shadow: none;
    outline: 1px solid $logo-second-color;

  }
  &--feedback {
    border: none;
    margin-right: 20px;
    width: 100%;
  }
  &--map {
    border: none;
  }
  &--calendar {
    margin: 100px auto;
    display: block;
    width: 200px;
    text-align: center;
  }
  &--reservation {
    border: none;
    width: 100%;
  }
}

.crawl-from-left::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 5px;
  display: block;
  background-color: $logo-second-color;
  animation: crawl-from-left linear 1.2s;
}

// --- / global styles --- //
// --- header --- //

.header {
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  //outline: 1px solid $outline-test-color;
  &__wrapper {
    max-width: $site-width;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: 100px;
  }
}

.logo {

  &__img {
    width: 150px;
    height: auto;
    &:hover path {
      fill: $logo-base-color;
      transition: 1s;
    }
  }
}

.site-navigation {
  width: 100%;
  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    display: flex;
    /*&--show {
      position: absolute;
      display: flex;
      z-index: 1;
      background-color: white;
    }*/
  }
  &__item {
    margin-right: 20px;
    margin-bottom: 30px;
  }
  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $menu-color;
    &:hover:not(&--active) {
      color: $menu-hover-color;
      transition: 0.7s;
    }
    &:active:not(&--active) {
      color: $menu-active-color;
    }
    &:hover:not(&--active)::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      display: block;
      background-color: $logo-second-color;
      animation: crawl-from-left 1s;
    }
    &--active::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      display: block;
      background-color: $logo-second-color;
    }
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: none;
  &__box {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
  }
  &__line {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: $logo-base-color;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    position: absolute;
    &--1 {
      top: 0;
    }
    &--2 {
      top: 13.5px;
      width: 1px;
      transform: rotate(90deg);
      left: 13.5px;
    }
    &--3 {
      top: 13.5px;
      width: 1px;
      left: 13.5px;
    }
    &--4 {
      top: 13.5px;
    }
    &--5 {
      bottom: 0;
    }
  }

  &__checkbox:checked + &__wrap &__box > &__line--1 {
    top: 13.5px;
    background-color: transparent;
  }
  &__checkbox:checked + &__wrap &__box > &__line--2 {
    left: 0;
    width: 30px;
    transform: rotate(45deg);
    background-color: $logo-second-color;
  }
  &__checkbox:checked + &__wrap &__box > &__line--3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
    background-color: $logo-second-color;
  }
  &__checkbox:checked + &__wrap &__box > &__line--4 {
    background-color: transparent;
  }
  &__checkbox:checked + &__wrap &__box > &__line--5 {
    bottom: 13.5px;
    background-color: transparent;
  }
}


// --- / header --- //

// --- index-page --- //

.index {
  &__headline {
    font-size: 40px;
    color: $logo-base-color;
    text-align: center;
  }
  &__img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}

//.test {
//  position: relative;
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//  &__box {
//    background-color: $logo-base-color;
//    width: $test-box-width;
//    height: $test-box-width;
//    margin-bottom: 20px;
//    margin-right: 20px;
//    &--center {
//      box-sizing: border-box;
//      position: absolute;
//      top: $test-box-width / 2 + 10px;
//      left: $test-box-width * 2 / 3 - 5px;
//      background-color: $logo-second-color;
//      transform: rotate(45deg);
//      overflow: hidden;
//    }
//    &:not(&--center):hover {
//      background-color: #837ed2;
//    }
//  }
//}

// --- index-page --- //

.footer {
  color: $footer-text-color;
  background-color: $footer-bg-color;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  &__wrapper {
    max-width: $site-width;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slogan {

  }
  &__slogan-logo {
    width: 450px;
    height: auto;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  &__club-name {
    font-weight: 700;
  }
  &__phone {
    color: $footer-text-color;
    text-decoration: none;
  }
  &__sponsor-logo {
    width: 200px;
    height: auto;
  }
}

// --- trainer page --- //
.trainer {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  &__photo {
    max-width: 100%;
    height: auto;
    margin-right: 40px;
    border-radius: 10px;
    transition: 1.5s;
    &:hover {
      box-shadow: 0 10px 25px $shadow-color;
      transform: scale(1.2);
    }
  }
  &__info {
    max-width: 650px;
  }
  &__name {
    position: relative;
    display: inline-block;
    margin-top: 0;

  }
  &__rank {
    display: block;
    margin-bottom: 40px;
  }
  &__text {
    line-height: 26px;
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    width: 200px;
  }
}

// --- / trainer page --- //

// --- services page --- //
.services {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 20px 0;
    list-style: none;
  }
  &__service-card {

  }
}

.service-card {

  //temp
  position: relative;
  margin-bottom: 40px;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: box-shadow 0.5s;
  overflow: hidden;
  &--action {
    &::after {
      color: #FFFFFF;
      content: "Акция";
      letter-spacing: 1px;
      width: 130px;
      height: 30px;
      display: flex;
      position: absolute;
      top: 10px;
      right: -40px;
      background-color: #ee3643;
      transform: rotate(45deg);
      justify-content: center;
      align-items: center;
    }
  }
  &:hover {
    box-shadow: 0 10px 25px $shadow-color;
  }

  &__image {

  }
  &__hover {
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: $logo-second-color;
    opacity: 0;
    width: 100%;
    height: 320px;

    &-title {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
    &-list {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    &-comment {
      text-align: center;
    }
  }
  &:hover .service-card__hover {
    opacity: 0.9;
    transition: opacity 1.5s;
  }

  &__title {
    color: $logo-base-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
  }
  &__comment {
    margin-bottom: 20px;
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
  }
  &__button {
    &--booking {
      margin-bottom: 20px;
    }
  }

}

// --- / services page --- //

// --- price page --- //
.price {
  &__wrapper-outside {
    border-top: 20px solid $logo-second-color;
    margin-bottom: 20px;
  }
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  &__row {
    border-bottom: 1px solid $logo-base-color;
    &--table-title {

    }
    &:not(&--table-title):hover {
      background-color: $price-hover-color;
    }
  }
  &__cell {
    padding: 10px 20px;
    &--table-header {
      text-align: left;
    }
  }
  &__days {
    display: block;
    margin-bottom: 5px;
  }
  &__time {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
  }

}

.price-sale {
  border-top: 20px solid $logo-second-color;
  margin-bottom: 20px;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  &__title {
    color: red;
  }
}

// --- / price page --- //

// --- feedback page --- //
.feedback {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  box-sizing: border-box;
  //height: 500px;
  display: flex;
  justify-content: space-between;
  transition: box-shadow 1.5s;
  &:hover {
    box-shadow: 0 10px 25px $shadow-color;
    //outline: 1px solid #eaeaea;
  }
  &__contacts-box {
    position: relative;
    //left: -100px;
    width: 45%;
    //height: 90%;
    outline: 1px solid #837ed2;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: $logo-base-color;
    color: $logo-second-color;
    transition: box-shadow 1.5s;
    &:hover {
      //background-color: white;
      box-shadow: 0 0 15px $logo-base-color;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &__company-name {
    display: block;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
  }
  &__contact {
    display: flex;
    align-items: center;
    padding-left: 45px;
    margin: 15px 0;
    position: relative;
    min-height: 30px;
    color: inherit;
    text-decoration: none;
    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 30px;
      position: absolute;
      left: 0;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
    }
    &--address {
      &__link {
        color: inherit;
        text-decoration: none;
      }
      &::before {
        background-image: url("../img/icon-address.svg");
        background-size: 15px;
      }
    }
    &--phone-trainer {
      &::before {
        background-image: url("../img/icon-trainer.svg");
        background-size: 25px;
      }
    }
    &--phone-pass {
      &::before {
        background-image: url("../img/icon-pass.svg");
        background-size: 25px;
      }
    }
    &--email {
      &::before {
        background-image: url("../img/icon-email.svg");
        background-size: 20px;
      }
    }
  }
  &__social-list {
  }
  &__write-us {
    width: 50%;
    height: 90%;
    padding: 20px 40px 0 40px;
    box-sizing: border-box;
    border: none;
  }
  &__input {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    &--client-name {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
    &--client-email {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
    &--client-message {
      height: 100px;
      resize: none;
    }
  }
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0 0 0;
  &__item {
    width: 40px;
    height: 40px;
    border: 1px solid $logo-second-color;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;

  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.7s;
    &:hover,
    &:focus {
      //background-color: white;
      box-shadow: 0 0 15px $logo-second-color;
      transform: scale(1.05);
    }
  }
  &__icon {
    width: 30px;

  }
}

// --- / feedback page --- //
.calendar {
  padding: 20px;
}

// --- / appointment-page --- //

/* === services === */
.appointment {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  &__title {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }
  &__description {
    line-height: 34px;
    margin-bottom: 40px;
  }
  &__wrapper {
  }
  &__radio {
    position: absolute;
  }
}

/* === appointment__tabs ===*/

.tabs {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  &__button {
    padding: 10px 25px;
    margin: 0 20px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    min-height: 38px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: $logo-base-color;
    color: $logo-second-color;
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $logo-second-color;
      color: $logo-base-color;
      box-shadow: 0 2px 5px $button-shadow-color;
      transition: 0.7s;
    }
    &:active {
      background-color: #ffffff;
      transform: translateY(2px);
      box-shadow: none;
      outline: 1px solid $logo-second-color;

    }
  }
}

.appointment__radio--calendar:checked ~ .appointment__tabs .tabs__button--calendar {
  background-color: $logo-second-color;
  color: $logo-base-color;
}

.appointment__radio--reservation:checked ~ .appointment__tabs .tabs__button--reservation {
  background-color: $logo-second-color;
  color: $logo-base-color;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 50px 0;
  &__item {
    display: none;
    &--calendar {
    }
    &--reservation {
    }
  }
  &__title {
    margin: 0 0 35px 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }
  &__text {
    margin: 0 0 30px 0;
    line-height: 24px;
  }
}

.appointment__radio--calendar:checked ~ .appointment__cards .cards__item--calendar {
  display: block;
}

.appointment__radio--reservation:checked ~ .appointment__cards .cards__item--reservation {
  display: block;
}

.reservation {
  margin: 0 auto;
  padding: 40px;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: box-shadow 1.5s;
  &:hover {
    box-shadow: 0 10px 25px $shadow-color;
    //outline: 1px solid #eaeaea;
  }
  &__inputs-group {
    width: 47%;
    padding: 20px 40px;
    box-sizing: border-box;

    transition: box-shadow 1.5s;

  }

}

.inputs-group {
  &:hover {
    //background-color: white;
    box-shadow: 0 0 15px $logo-base-color;
  }
  &--player-level {
    background-color: $logo-base-color;
    color: $logo-second-color;
    border: none;
  }
  &__title {
    &--player-level {
      margin-bottom: 40px;
    }
  }
  &__radio {
    &--child {
      &:checked ~ .inputs-group__radio-indicator--child {
        transition: 0.5s;
        background-color: $logo-second-color;
        color: $logo-base-color;
        font-weight: 700;
        box-shadow: inset 0 0 10px $logo-base-color;
      }
    }
    &--beginner {
      &:checked ~ .inputs-group__radio-indicator--beginner {
        transition: 0.5s;
        background-color: $logo-second-color;
        color: $logo-base-color;
        font-weight: 700;
        box-shadow: inset 0 0 10px $logo-base-color;
      }
    }
    &--middle {
      &:checked ~ .inputs-group__radio-indicator--middle {
        transition: 0.5s;
        background-color: $logo-second-color;
        color: $logo-base-color;
        font-weight: 700;
        box-shadow: inset 0 0 10px $logo-base-color;
      }
    }
    &--professional {
      &:checked ~ .inputs-group__radio-indicator--professional {
        transition: 0.5s;
        background-color: $logo-second-color;
        color: $logo-base-color;
        font-weight: 700;
        box-shadow: inset 0 0 10px $logo-base-color;
      }
    }
  }
  &--training-data {
    //border-color: #eaeaea;
    border: none;
  }
  &__radio-indicator {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 30px;
    width: 100%;
    height: 38px;
    font-size: 16px;
    box-sizing: border-box;
    outline: 1px solid $logo-second-color;
    margin-bottom: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  &__text {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    &--client-name {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
    &--client-email {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
    &--client-phone {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
    &--date {
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
    &--client-message {
      height: 100px;
      resize: none;
    }
  }
}

// --- / appointment-page --- //

@media (min-width: $screen-xl) {

}

@media (max-width: $screen-xl - 1) and (min-width: $screen-lg) {
  .header {
    &__logo {
      margin-right: 50px;
    }
  }
  .site-navigation {
    &__list {
      flex-wrap: wrap;
    }
  }

  // --- trainer-page --- //
  .trainer {
    &__wrapper {
      justify-content: space-around;
      align-items: center;
    }
    &__info {
      max-width: 450px;
    }
  }
  // --- / trainer-page --- //

  // --- services-page --- //
  .service-card {
    width: 390px;
  }
  // --- / services-page --- //

  // --- appointment-page --- //
  .reservation {
    width: 100%;
  }

  .inputs-group {
    &--player-level {
    }
  }
  // --- / appointment-page --- //

  // --- feedback-page --- //
  .feedback {
    width: 100%;
    &__contacts-box {
      min-width: 390px;
    }
  }

  // --- / feedback-page --- //

  // --- footer --- //
  .footer {
    &__slogan {
      margin-right: 20px;
    }
    &__slogan-logo {
      width: 400px;
    }
    &__sponsor-logo {
      width: 150px;
    }
  }
  // --- / footer --- //
}

@media (max-width: $screen-lg - 1) and (min-width: $screen-md) {
   .padding-site {
     padding-left: $padding-site - $padding-difference;
     padding-right: $padding-site - $padding-difference;
   }

  .header {
    &__logo {
      margin-right: 50px;
    }
  }
  .site-navigation {
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      min-width: 150px;
    }
  }

  // --- trainer-page --- //
  .trainer {
    &__photo {
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
    }
    &__info {
      max-width: 100%;
    }
  }
  // --- / trainer-page --- //

  // --- appointment-page --- //
  .reservation {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .inputs-group {
  }
  // --- / appointment-page --- //

  // --- feedback-page --- //
  .feedback {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    &__contacts-box {
      min-width: 350px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__contact {
      padding-left: 35px;
    }
    &__write-us {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  // --- / feedback-page --- //

  // --- footer --- //
  .footer {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__slogan {
      margin-bottom: 40px;
    }
  }
  // --- / footer --- //

}

@media (max-width: $screen-md - 1) and (min-width: $screen-sm) {
  .padding-site {
    padding-left: $padding-site - $padding-difference;
    padding-right: $padding-site - $padding-difference;
  }

  // --- header --- //
  .header {
    &__wrapper {
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }
  .site-navigation {
    &__list {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      min-width: 180px;
    }
  }
  // --- / header --- //

  // --- trainer-page --- //
  .trainer {
    &__photo {
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
    }
    &__info {
      max-width: 100%;
    }
  }
  // --- / trainer-page --- //

  // --- price-page --- //
  .price {
    width: 100%;
    &__cell {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  // --- / price-page --- //

  // --- appointment-page --- //
  .reservation {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .inputs-group {
    width: 80%;
    &--player-level {
      margin-bottom: 40px;
    }
  }
  // --- / appointment-page --- //

  // --- feedback-page --- //
  .feedback {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    &__contacts-box {
      width: 80%;
    }
    &__write-us {
      width: 80%;
    }
  }

  // --- / feedback-page --- //

  // --- footer --- //
  .footer {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__slogan {
      margin-bottom: 40px;
      margin-right: 40px;
    }
  }
  // --- / footer --- //
}

@media (max-width: $screen-sm - 1) {
  .padding-site {
    padding-left: $padding-site - $padding-difference;
    padding-right: $padding-site - $padding-difference;
  }

  // --- header --- //
  .header {
    &__wrapper {
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }
  .site-navigation {
    &__hamburger {
      display: flex;
    }
    &__list {
      flex-wrap: wrap;
      justify-content: space-around;
      display: none;
      &--show {
        position: absolute;
        display: flex;
        z-index: 1;
        background-color: white;
      }
    }
    &__item {
      min-width: 180px;
      margin-right: 0;
    }
  }
  // --- / header --- //

  // --- trainer-page --- //
  .trainer {
    &__wrapper {
    }
    &__photo {
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
      &:hover {
        transform: none;
      }
    }
    &__info {
      max-width: 100%;
    }
  }
  // --- / trainer-page --- //

  // --- price-page --- //
  .price {
    width: 100%;
    &__cell {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  // --- / price-page --- //

  // --- appointment-page --- //
  .tabs {
    flex-wrap: wrap;
    &__button {
      margin-bottom: 20px;
      width: 300px;
      justify-content: center;
    }
  }

  .reservation {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .inputs-group {
    width: 80%;
    &:hover {
      box-shadow: none;
    }
    &--player-level {
      margin-bottom: 40px;
    }
  }

  iframe .wk-dayname  {
    white-space: normal;
  }
  // --- / appointment-page --- //

  // --- feedback-page --- //
  .feedback {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    &__contacts-box {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__write-us {
      width: 100%;
    }
  }

  // --- / feedback-page --- //

  // --- footer --- //
  .footer {
    &__wrapper {
      flex-direction: column;
    }
    &__slogan {
      margin-bottom: 40px;
    }
    &__slogan-logo {
      width: 100%;
    }
    &__sponsor {
      margin-bottom: 40px;
    }
    &__sponsor-logo {
      width: 100%;
    }
    &__contacts {
    }
  }
  // --- / footer --- //
}



