@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap&subset=cyrillic');
@import "normalize";

// --- variables --- //
$site-width: 1200px;
$padding-site: 80px;

// --- color -- //
$logo-base-color: #262262;
$logo-second-color: #fbb040;

$bg-base-color: #ffffff;
$text-base-color: #000000;

$menu-color: $logo-base-color;
$menu-hover-color: lighten($menu-color, 40);
$menu-active-color: darken($menu-color, 40);

$footer-bg-color: $logo-base-color;
$footer-text-color: #ffffff;

$outline-test-color: red;
// --- / color -- //
// --- / variables --- //

// --- animations --- //
@keyframes crawl-from-left {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// --- / animations --- //

// --- global styles --- //

* {
  font-family: 'Comfortaa', Arial, cursive;
}

html, body {
  height: 100%;
}

.padding-site {
  padding-left: $padding-site;
  padding-right: $padding-site;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.container {
  // --- temporary --- //
  //outline: 1px solid $outline-test-color;
  // --- / temporary --- //
  margin: 0 auto;
  max-width: $site-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  box-sizing: border-box;

  padding-top: 20px;
  padding-bottom: 20px;
  //outline: 1px solid $outline-test-color;
  &__logo {
    margin-right: 100px;
  }
}

.logo {
  &__img {
    width: 150px;
    height: auto;
  }
}

.site-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-right: 20px;
  }
  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: $menu-color;
    &:hover:not(&--active) {
      color: $menu-hover-color;
      transition: 0.7s;
    }
    &:active:not(&--active) {
      color: $menu-active-color;
    }
    &:hover:not(&--active)::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      display: block;
      background-color: $logo-second-color;
      animation: crawl-from-left 1s;
    }
    &--active::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 5px;
      display: block;
      background-color: $logo-second-color;
    }
  }
}

.main {
  min-height: 100%;
}

.footer {
  color: $footer-text-color;
  background-color: $footer-bg-color;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  &__slogan {

  }
  &__slogan-logo {
    width: 500px;
    height: auto;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  &__club-name {
    font-weight: 700;
  }
  &__phone {
    color: $footer-text-color;
    text-decoration: none;
  }
  &__sponsor-logo {
    width: 250px;
    height: auto;
  }
}

